extends layouts/main-layout.pug

block content
	.settingsContainer
		a(href="/settings" style="text-decoration: none;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-arrow-left")
				span Back
	.settingsContainer
		button(data-toggle="modal" data-target="#verifyUserModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-check")
				span Verification panel
	.settingsContainer
		button(data-toggle="modal" data-target="#addLikeModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-heart-circle")
				span Add like
	.settingsContainer
		button(data-toggle="modal" data-target="#banUserModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-lock")
				span Ban/ Unban user
	.settingsContainer
		button(data-toggle="modal" data-target="#statsModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-chart-bar")
				span Stats
	
	+createAdminModals()

block scripts
	script(src="/js/admin.js")
