extends layouts/main-layout.pug

block content

	if errorMessage 
		span.noResults #{errorMessage}
	else
		script.
			var chatId = '!{chat._id}';

		.chatPageContainer 
			.chatTitleBarContainer
				+createChatImage(chat, userLoggedIn)
				span#chatName(data-toggle="modal", data-target="#chatNameModal") Loading...

			.mainContentContainer 
				.chatContainer
					ul.chatMessages

					.footer
						textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
						button.sendMessageButton 
							i.fa-solid.fa-paper-plane
		+createChatNameModal(chat)

block scripts
	script(src="/js/chatPage.js")