extends layouts/main-layout.pug

block content
  +createPostForm(userLoggedIn)
  .postsContainer
  - $("#homeButtonIcon").removeClass("far").addClass("fas");

  +createPostModals(userLoggedIn)

block scripts
  script(src="/js/home.js")
