extends layouts/main-layout.pug

block content
	.settingsContainer
		a(href="/settings" style="text-decoration: none;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-arrow-left")
				span Back to Settings
	.settingsContainer
		button(data-toggle="modal" data-target="#privacyPolicyModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-eye-slash")
				span Privacy Policy
	.settingsContainer
		button(data-toggle="modal" data-target="#termsOfServiceModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-file-alt")
				span Terms of Service
	.settingsContainer
		button(data-toggle="modal" data-target="#cookiesModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-cookie-bite")
				span Cookie Policy
	.settingsContainer
		button(data-toggle="modal" data-target="#openSourceModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-code-branch")
				span Open Source Acknowledgements
	.settingsContainer
		button(data-toggle="modal" data-target="#disclaimerModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-exclamation-triangle")
				span Disclaimer

	+createLegalModals()


block scripts
	script(src="/js/legal.js")
