extends layouts/main-layout.pug

block content

  .chatPageContainer 
    .chatTitleBarContainer
      span#chatName(data-toggle="modal", data-target="#chatNameModal") Paris

    .mainContentContainer 
      .chatContainer
        ul.chatMessages
          li.message.theirs.first.last
            .imageContainer
              img(src='/images/profilePic.jpeg')
            .messageContainer
              span.senderName Paris
              span.messageBody
                | Hi! I am Paris, your personal assistant here on Kiwe. What would you like to know or talk about today?


        .footer
          textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
          button#sendImageMessageButton(data-toggle="modal", data-target="#sendImageMessageModal")
            i.fad.fa-camera-retro
          button.sendMessageButton 
            i.fad.fa-paper-plane

block scripts
      script(src="/js/paris.js")
