extends layouts/main-layout.pug

block content

  .chatPageContainer 
    .chatTitleBarContainer
      span#chatName(data-toggle="modal", data-target="#chatNameModal") Paris

    .mainContentContainer 
      .chatContainer
        ul.chatMessages

        .footer
          textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
          button#startNewChatButton
            i.fad.fa-eraser(style="color:#ee0000")
          button.sendMessageButton 
            i.fad.fa-paper-plane

block scripts
      script(src="/js/paris.js")
