extends layouts/main-layout.pug

block content

  .chatPageContainer
    #parisHeader.chatTitleBarContainer(style='height:90px;')
      .chatImagesContainer(style='height:60px;width: 60px;')
        img(src='/images/paris.png' alt="User's profile picture" title='admin' style='height:60px;width:60px;')
      span(style='font-weight:500;color: white;font-size:20px;margin-left: 3px;') Paris
    style.
      @keyframes gradientAnimation {
      0% {
      background-position: 0% 50%;
      }
      50% {
      background-position: 100% 50%;
      }
      100% {
      background-position: 0% 50%;
      }
      }
      #parisHeader {
      background: linear-gradient(100deg, rgb(153, 68, 230), rgb(235, 18, 180));
      background-size: 800% 800%;
      animation: gradientAnimation 2s ease infinite;
      }

    .mainContentContainer 
      .chatContainer
        ul.chatMessages

        .footer
          textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
          button.startNewChatButton
            i.fad.fa-eraser(style="color:#ee0000")
          button.sendMessageButton 
            i.fad.fa-paper-plane

block scripts
      script(src="/js/paris.js")
