extends layouts/main-layout.pug

block content

	// If searchTerm is provided in the URL, then use it. Otherwise, use an empty string
	- var localSearchTerm = ""
	- if (selectedTab == "users" && searchTerm) {
		- localSearchTerm = searchTerm
	- }

	.searchBarContainer
		i.fas.fa-magnifying-glass
		input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Search...")

	.tabsContainer
		+createTab("Posts", `/search/posts`, selectedTab != "users")
		+createTab("Users", `/search/users`, selectedTab == "users")

	.resultsContainer

	+createPostModals(userLoggedIn)

block scripts
	script(src="/js/search.js")