extends layouts/main-layout.pug

block content
	.settingsContainer
		button(data-toggle="modal" data-target="#changeNameModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-signature")
				span Change name
	.settingsContainer
		button(data-toggle="modal" data-target="#changeUsernameModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-user")
				span Change username
	.settingsContainer
		button(data-toggle="modal" data-target="#changeEmailModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-at")
				span Change email
	.settingsContainer
		button(data-toggle="modal" data-target="#changeBioModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-pen-to-square")
				span Change bio
	.settingsContainer
		button(data-toggle="modal" data-target="#imageUploadModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-user-circle")
				span Change profile picture
	.settingsContainer
		button(data-toggle="modal" data-target="#coverPhotoUploadModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-panorama")
				span Change profile cover photo
	.settingsContainer
		button(data-toggle="modal" data-target="#changePasswordModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-key")
				span Change password
	.settingsContainer
		button(data-toggle="modal" data-target="#legalModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-scale-balanced")
				span Legal
	.settingsContainer
		button(data-toggle="modal" data-target="#2faModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-user-lock")
				span 2FA
	.settingsContainer
		button(data-toggle="modal" data-target="#deleteAccountModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fa-solid fa-user-slash")
				span Delete account
	
	+createSettingsModals(userLoggedIn)
	+createImageUploadModal()
	+createCoverPhotoUploadModal()


block scripts
	script(src="/js/home.js")
	script(src="/js/settings.js")