extends layouts/main-layout.pug

block content
	.settingsContainer
		button(data-toggle="modal" data-target="#changeNameModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-signature")
				span Change name
	.settingsContainer
		button(data-toggle="modal" data-target="#changeUsernameModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user")
				span Change username
	.settingsContainer
		button(data-toggle="modal" data-target="#changeEmailModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-at")
				span Change email
	.settingsContainer
		button(data-toggle="modal" data-target="#changeBioModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-edit")
				span Change bio
	.settingsContainer
		button(data-toggle="modal" data-target="#imageUploadModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-circle")
				span Change profile picture
	.settingsContainer
		button(data-toggle="modal" data-target="#coverPhotoUploadModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-images")
				span Change profile cover photo
	.settingsContainer
		button(data-toggle="modal" data-target="#changePasswordModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-key")
				span Change password
	.settingsContainer
		a(href="/legal" style="text-decoration: none;padding-left:6px;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-balance-scale")
				span Legal
	.settingsContainer
		a(href="/twofactor/setup", style="text-decoration: none;padding-left:6px;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-lock")
				span 2FA
	if userLoggedIn.admin
		.settingsContainer
			a(href="/admin" style="text-decoration: none;")
				.resultListItem(class="settingsListItem")
					.resultsImageContainer(style="margin-left:15px;")
						| <svg viewBox="0 0 22 22"><rect width="10" height="10" x="6" y="6" fill="#000000"></rect><g><linearGradient id="12-a" gradientUnits="userSpaceOnUse" x1="4.411" x2="18.083" y1="2.495" y2="21.508"><stop offset="0" stop-color="#f4e72a"></stop><stop offset=".539" stop-color="#cd8105"></stop><stop offset=".68" stop-color="#cb7b00"></stop><stop offset="1" stop-color="#f4ec26"></stop><stop offset="1" stop-color="#f4e72a"></stop></linearGradient><linearGradient id="12-b" gradientUnits="userSpaceOnUse" x1="5.355" x2="16.361" y1="3.395" y2="19.133"><stop offset="0" stop-color="#f9e87f"></stop><stop offset=".406" stop-color="#e2b719"></stop><stop offset=".989" stop-color="#e2b719"></stop></linearGradient><g clip-rule="evenodd" fill-rule="evenodd"><path d="M13.324 3.848L11 1.6 8.676 3.848l-3.201-.453-.559 3.184L2.06 8.095 3.48 11l-1.42 2.904 2.856 1.516.559 3.184 3.201-.452L11 20.4l2.324-2.248 3.201.452.559-3.184 2.856-1.516L18.52 11l1.42-2.905-2.856-1.516-.559-3.184zm-7.09 7.575l3.428 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z" fill="url(#12-a)"></path><path d="M13.101 4.533L11 2.5 8.899 4.533l-2.895-.41-.505 2.88-2.583 1.37L4.2 11l-1.284 2.627 2.583 1.37.505 2.88 2.895-.41L11 19.5l2.101-2.033 2.895.41.505-2.88 2.583-1.37L17.8 11l1.284-2.627-2.583-1.37-.505-2.88zm-6.868 6.89l3.429 3.428 5.683-6.206-1.347-1.247-4.4 4.795-2.072-2.072z" fill="url(#12-b)"></path><path d="M6.233 11.423l3.429 3.428 5.65-6.17.038-.033-.005 1.398-5.683 6.206-3.429-3.429-.003-1.405.005.003z" fill="#d18800"></path></g></g></svg>
					span(style="margin-left:-10px; color:#af7d08;") Admin
	.settingsContainer
		button(data-toggle="modal" data-target="#deleteAccountModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-slash")
				span Delete account
	
	+createSettingsModals(userLoggedIn)
	+createImageUploadModal()
	+createCoverPhotoUploadModal()


block scripts
	script(src="/js/settings.js")
