extends layouts/main-layout.pug

block content
	h1 On Kiwe you earn credits by viewing adverts which can be donated to others or redeemed. You can earn up to 10 tokens a day.
	.settingsContainer
		a(href="/tokens/donate", style="text-decoration: none;padding-left:6px;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-lock")
				span 2FA

block scripts
	script(src="/js/tokens.js")
