extends layouts/main-layout.pug

block content
	.settingsContainer
		a(href="/settings" style="text-decoration: none;")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-arrow-left")
				span Back
	.settingsContainer
		button(data-toggle="modal" data-target="#twoFactorSetupModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-user-lock")
				span Setup 2FA
	.settingsContainer
		button(data-toggle="modal" data-target="#twoFactorRemovalModal")
			.resultListItem(class="settingsListItem")
				.resultsImageContainer
					i(class="fas fa-unlink")
				span Remove 2FA
	+createTwoFactorSetupModal()
	+createTwoFactorRemovalModal()

block scripts
	script(src="/js/twoFactor.js")
	script.
		var twoFactorEnabled = !{twoFactorSetup}
