:root {
    --blue: #1D9BF0;
    --blueLight: #9BD1F9;
    --blueBackground: rgba(190, 200, 255, 0.6);
    --buttonHoverBg: #d4edff;
    --lightGrey: rgb(230, 236, 240);
    --spacing: 15px;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0,0.34);
    --red: rgb(224, 36, 94);
    --redBackground: rgba(224, 36, 94, 0.25);
    --green: rgb(23, 191, 99);
    --greenBackground: rgba(23, 191, 99, 0.25);
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
}

* {
    outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    position: relative;
}

nav a.blue {
    color: var(--blue);
}

nav a:hover {
    background-color: var(--buttonHoverBg);
    text-decoration: none;
    color: var(--blue);
    border-radius: 50%;
}

.wrapper {
    display:flex;
    flex-direction:column;
    height: 100%;
}

.wrapper > .row {
    margin: 0;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: var(--greyButtonText);
}

button i, button span {
    pointer-events: none;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.postFormContainer {
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230, 236, 240);
    flex-shrink: 0;
}

.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}

.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitPostButton {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#submitPostButton:disabled {
    background-color: var(--blueLight);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
    overflow-y: hidden;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.displayName {
    font-weight: bold;
}

.username, .date, .datePlaceholder {
    color: var(--greyText)
}

.displayName {
    font-weight: bold;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 4px 7px;
}

.header a:hover {
    text-decoration: underline;
}

.postActionContainer a:hover {
    text-decoration: underline;
}

.header a, .header span {
    padding-right: 0px;
}

.postButtonContainer button:hover {
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-radius: 15px;
}

.postButtonContainer.red button.active {
    color: var(--red);
}

.userImageContainer {
    width: 50px;
    height: 50px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

.codeContainer {
    flex: 1;
    padding-left: var(--spacing);
}

.codeContainer textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitPostButton {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}

#submitPostButton:disabled {
    background-color: var(--blueLight);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display: flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.displayName {
    font-weight: bold;
}

.username, .date, .datePlaceholder {
    color: var(--greyText)
}

.displayName {
    font-weight: bold;
}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button {
    padding: 4px 7px;
}

.header a:hover {
    text-decoration: underline;
}

.postActionContainer a:hover {
    text-decoration: underline;
}

.header a, .header span {
    padding-right: 0px;
}

.postButtonContainer button:hover {
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-radius: 15px;
}

.postButtonContainer.red button.active {
    color: var(--red);
}

.postButtonContainer.green button.active {
    color: var(--green);
}

.postButtonContainer.green button:hover {
    color: var(--green);
    background-color: var(--greenBackground);
}

.postButtonContainer.red button:hover {
    color: var(--red);
    background-color: var(--redBackground);
}

.postActionContainer {
    padding-left: 45px;
    font-size: 13px;
    color: var(--greyText);
    margin-bottom: 5px;
}

.replyFlag {
    margin-bottom: 5px;
    color: var(--greyText);
}

.replyFlag a {
    color: var(--blue);
}

.wrapper {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.header .date {
    flex: 1;
}

.header .datePlaceholder {
    flex: 1;
}

.header {
    display: flex;
    height: 1.2em;
}

@media screen and (max-width: 440px) {
    .header {
        font-size: 11px
    }

    .replyFlag {
        font-size: 13px
    }

    .col-2 {
        max-width: 20% !important
    }

    .col-10 {
        max-width: 80%
    }
}

.date {
    display: none;
}

.datePlaceholder {
    display: inherit;
}

@media only screen and (min-width: 768px) {
    .date {
        display: inherit;
    }

    .datePlaceholder {
        display: none;
    }
}

.profileHeaderContainer .coverPhotoSection {
    height: 320px;
    background-color: var(--blue);
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    height: 120px;
    width: 120px;
    margin-left: 30px;
    position: absolute;
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
    border: 4px solid #ffffff;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 60px;
}

.profileButton, .followButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
    min-height: 36px;
    min-width: 38px;
}

.profileButton:hover, .followButton:hover {
    background-color: var(--blueBackground);
    color: var(--blue);
}

.followButton span {
    margin-left: 0.3em
}

.followButton.following {
    color: white;
    background-color: var(--blue);
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em
}

.followersContainer .value {
    font-weight: bold;
    margin: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: var(--spacing);
}

.followersContainer a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--greyText);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}

.tab.active {
    color: black;
    border-bottom: 2px solid black
}

.tab:hover {
    color: black;
    background-color: #eeeeee
}

.noResults {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: var(--spacing)
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.user .userDetailsContainer .header .username {
    padding-left: 7px;
}

.profilePictureButton, .coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: rgb(0,0,0,0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton, .coverPhotoContainer:hover > .coverPhotoButton {
    display: block;
}

.coverPhotoSection .userImageContainer img {
    min-height: 120px;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postBody span {
    word-wrap: break-word;
    word-break: break-word;
}

.pinButton:hover {
    color: #E7B10A;
}

.unpinButton {
    color: #E7B10A;
}

.unpinButton:hover {
    color: #FF0000;
}

.deleteButton:hover {
    color: #FF0000;
}

.pinnedPostContainer {
    border-bottom: 10px solid rgb(230, 236, 240)
}

.searchBarContainer {
    position: relative;
    color: var(--greyText);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 30px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--lightGrey);
    color: var(--greyText);
}

.userDetailsContainer {
    position: relative;
}

.followButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

#imagePreview, #coverPreview, #postImagePreview {
    display: block;
    max-width: 100%;
    width: 100%;
}

.chatTitleBar {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 15px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}

#createChatButton {
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 50px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: var(--greyText);
}

.userDetailsContainer .header img {
    height: 83.4%;
    margin-top:3px
}

.selectedUser {
    font-weight: 600;
    background-color: #42a4f5;
    padding:5px;
    border-radius:3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--lightGrey);
}

.resultListItem:hover {
    background-color: #F2f2f2;
}

.resultsDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultsDetailsContainer .heading {
    font-weight: 500;
}

.resultsDetailsContainer .subText {
    color: var(--greyText);
    font-size: 14px;
}

.resultListItem img {
    height: 100%;
    width: 100%;
    border-radius:50%;
}

.resultsImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display:flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

#chatName {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid var(--greyButtonText);
    cursor: text;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 70px;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--blue);
    font-size: 24px;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: rgb(230,230,230, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: 2px solid #fff;
    margin-left: -40px;
}

.chatImagesContainer img:not(:last-child) {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}

.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.tooltip {
    left: 5px !important;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: var(--blue);
    color: #fff;
}

.chatMessages .message.mine.first .messageBody {
    border-bottom-right-radius: 5px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chatMessages .message.mine.last .messageBody {
    border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
    border-top-right-radius: 2px;
}

.postButtonContainer.green button.active {
    color: var(--green);
}

.postButtonContainer.green button:hover {
    color: var(--green);
    background-color: var(--greenBackground);
}

.postButtonContainer.red button:hover {
    color: var(--red);
    background-color: var(--redBackground);
}

.postActionContainer {
    padding-left: 45px;
    font-size: 13px;
    color: var(--greyText);
    margin-bottom: 5px;
}

.replyFlag {
    margin-bottom: 5px;
    color: var(--greyText);
}

.replyFlag a {
    color: var(--blue);
}

.wrapper {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.header .date {
    flex: 1;
}

.header .datePlaceholder {
    flex: 1;
}

.header {
    display: flex;
    height: 1.2em;
}

@media screen and (max-width: 440px) {
    .header {
        font-size: 11px
    }

    .replyFlag {
        font-size: 13px
    }

    .col-2 {
        max-width: 20% !important
    }

    .col-10 {
        max-width: 80%
    }
}

.date {
    display: none;
}

.datePlaceholder {
    display: inherit;
}

@media only screen and (min-width: 768px) {
    .date {
        display: inherit;
    }

    .datePlaceholder {
        display: none;
    }
}

.profileHeaderContainer .coverPhotoSection {
    height: 320px;
    background-color: var(--blue);
    position: relative;
}

.profileHeaderContainer .userImageContainer {
    height: 120px;
    width: 120px;
    margin-left: 30px;
    position: absolute;
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
    border: 4px solid #ffffff;
}

.profileHeaderContainer .profileButtonsContainer {
    text-align: right;
    padding: var(--spacing);
    min-height: 60px;
}

.profileButton, .followButton {
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
    min-height: 36px;
    min-width: 38px;
}

.profileButton:hover, .followButton:hover {
    background-color: var(--blueBackground);
    color: var(--blue);
}

.followButton span {
    margin-left: 0.3em
}

.followButton.following {
    color: white;
    background-color: var(--blue);
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em
}

.followersContainer .value {
    font-weight: bold;
    margin: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: var(--spacing);
}

.followersContainer a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--greyText);
}

.tabsContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}

.tab.active {
    color: black;
    border-bottom: 2px solid black
}

.tab:hover {
    color: black;
    background-color: #eeeeee
}

.noResults {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: var(--spacing)
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.settingsContainer {
    display: flex;
    flex-direction: column;
}

.settingsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.user .userDetailsContainer .header .username {
    padding-left: 7px;
}

.profilePictureButton, .coverPhotoButton {
    position: absolute;
    font-size: 50px;
    color: rgb(0,0,0,0.6);
    display: none;
}

ul {
    margin: 0;
}

.userImageContainer:hover .profilePictureButton, .coverPhotoContainer:hover > .coverPhotoButton {
    display: block;
}

.coverPhotoSection .userImageContainer img {
    min-height: 120px;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.coverPhotoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postBody span {
    word-wrap: break-word;
    word-break: break-word;
}

.pinButton:hover {
    color: #E7B10A;
}

.unpinButton {
    color: #E7B10A;
}

.unpinButton:hover {
    color: #FF0000;
}

.deleteButton:hover {
    color: #FF0000;
}

.pinnedPostContainer {
    border-bottom: 10px solid rgb(230, 236, 240)
}

.searchBarContainer {
    position: relative;
    color: var(--greyText);
    padding: 10px var(--spacing);
}

.searchBarContainer i {
    position: absolute;
    top: 20px;
    left: 30px;
}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--lightGrey);
    color: var(--greyText);
}

.userDetailsContainer {
    position: relative;
}

.followButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

#imagePreview, #coverPreview {
    display: block;
    max-width: 100%;
    width: 100%;
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-basis: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 15px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#userSearchTextbox {
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}

#createChatButton {
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 50px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: var(--greyText);
}

.userDetailsContainer .header img {
    height: 83.4%;
    margin-top:3px
}

.selectedUser {
    font-weight: 600;
    background-color: #42a4f5;
    padding:5px;
    border-radius:3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--lightGrey);
}

.resultListItem:hover {
    background-color: #F2f2f2;
}

.resultsDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultsDetailsContainer .heading {
    font-weight: 500;
}

.resultsDetailsContainer .subText {
    color: var(--greyText);
    font-size: 14px;
}

.resultListItem img {
    height: 40px;
    width: 40px;
    border-radius:50%;
}

.resultsImageContainer {
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 10px;
    display:flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

#chatName {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid var(--greyButtonText);
    cursor: text;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 70px;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--blue);
    font-size: 24px;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: rgb(230,230,230, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: 2px solid #fff;
    margin-left: -40px;
}

.chatImagesContainer img:not(:last-child) {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}

.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}
.typingDots img,
.chatMessages .message .messageBody {
    background-color: #e0e0e0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}

.typingDots img {
    height: 35px;
}

.typingDots {
    padding-top: 5px;
    padding-left: 15px;
    display: none;
    
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
    align-items: flex-end;
}

.chatMessages .message.mine .messageContainer {
    align-items: flex-start;
}

.tooltip {
    left: 5px !important;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: var(--blue);
    color: #fff;
}

.chatMessages .message.theirs.first .messageBody {
    border-bottom-left-radius: 5px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chatMessages .message.theirs.last .messageBody {
    border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
    border-top-left-radius: 2px;
}

.senderName {
    color: rgba(0,0,0, 0.5);
    font-weight: 500;
    font-size:12px;
}

.chatMessages .imageContainer {
    height: 30px;
    width: 30px;
    margin-right: 7px;
}

.chatMessages img {
    height: 100%;
    border-radius: 5%;
    margin-top: -2px;
    vertical-align: bottom;
}

.chatMessages .message.last {
    margin-bottom: 7px;
}

.loadingSpinnerContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingSpinnerContainer img {
    width: 15%;
    margin-top: -50vh;
}

.resultListItem.active {
    background-color: var(--blueBackground);
}

.resultListItem.notification * {
    pointer-events: none;
}

#notificationsBadge,
#messagesBadge {
    background-color: var(--red);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#notificationsBadge.active,
#messagesBadge.active {
    visibility: visible;
}

#notificationList {
    position:fixed;
    top: 5px;
    right: 5px;
    width: 400px;
    background-color: rgb(190, 200, 255);
    box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
    -moz-box-shadow: 2px 4px 4px rgba(0,0,0, 0.5);
}

.resultsImageContainer i {
    font-size: 30px;
    display:flex;
    margin-left: 25%;
}

.settingsListItem span {
    font-weight:600;
}

.settingsListItem {
    color:black;
}

.modal-body .errorMessage {
    color: var(--red);
    margin-left: 0px;
    font-weight:700;
}

.text-danger {
    color: var(--red);
    margin-left: 0px;
    font-weight:700;
}

.text-success {
    color: var(--green);
    margin-left: 0px;
    font-weight:700;
}

.postImage img {
    max-height:300px;
    max-width: 300px;
    height:30vh;
    border-radius: 10%;
}

.messageBody img {
    height: 100%;
    width: 100%;
}

.postBody pre {
    overflow-x: auto;
    white-space: pre-wrap;
}
